.badge {
  background-color: #f2f2f2;
  border-radius: 12px;
  padding: 5px 10px;
}

.badge p {
  color: #808080;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

.grey {
  background-color: #f2f2f2;
  color: #808080;
}

.blue {
  background-color: #f2f2f2;
  color: #3754db;
}

.green {
  background-color: #f2f2f2;
  color: #00c271;
}

.purple {
  background-color: #f2f2f2;
  color: purple;
}

.orange {
  background-color: #f2f2f2;
  color: #df9a00;
}

.black {
  background-color: #f2f2f2;
  color: #000;
}
